#######################################################################################
# Book settings
title                       : "" # The title of the book. Will be placed in the left navbar.
author                      : ""  # The author of the book
logo                        : "./_static/cookbook-logo-small.png"  # A path to the book logo
exclude_patterns            : [.github/*, README.md, venv/*, node_modules/*, _content_not_in_toc/* ]  # Patterns to skip when building the book. Can be glob-style (e.g. "*skip.ipynb")

#######################################################################################
# Execution settings
execute:
  execute_notebooks         : off  # Whether to execute notebooks at build time. Must be one of ("auto", "force", "cache", "off")
  cache                     : ""  # A path to the jupyter cache that will be used to store execution artifacs. Defaults to `_build/.jupyter_cache/`
  exclude_patterns          : []  # A list of patterns to *skip* in execution (e.g. a notebook that takes a really long time)

#######################################################################################
# HTML-specific settings
html:
  favicon                   : "./_static/images/logo/favicon.ico"  # A path to a favicon image
  navbar_number_sections    : True  # Add a number to each section in your left navbar
  use_edit_page_button      : True  # Whether to add an "edit this page" button to pages. If `true`, repository information in repository: must be filled in
  use_repository_button     : True  # Whether to add a link to your repository button
  use_issues_button         : True  # Whether to add an "open an issue" button
  home_page_in_navbar       : true  # Whether to include your home page in the left Navigation Bar
  baseurl                   : "https://fairplus.github.io/the-fair-cookbook"  # The base URL where your book will be hosted. Used for creating image previews and social links. e.g.: https://mypage.com/mybook/
  extra_navbar              : Powered by <a href="https://jupyterbook.org">Jupyter Book</a>  # Will be displayed underneath the left navbar.
  extra_footer              :   # Will be displayed underneath the footer.
    <script>mermaid.init();</script>
    <div class="container-lg mt-3">
      <div class="row">
        <div class="col-xl-3">
            <div class="footerImages">
              <a href="https://europa.eu/"><img src="/the-fair-cookbook/_static/images/logo/eu-flag.png" height="20" alt="EU flag" style="float:center""></a>
              <a href="https://www.imi.europa.eu/"><img src="/the-fair-cookbook/_static/images/logo/imi-logo.png" height="20" alt="IMI logo" style="float:center""></a>
              <a href="https://efpia.eu"><img src="/the-fair-cookbook/_static/images/logo/efpia-logo.png" height="20" alt="EFPIA logo" style="float:center""></a>
            </div>
            <div> Grant agreement 802750 </div>
        </div>
        <div class="col-xl-3">
        <ul>
          <li><a href="mailto:fairplus-cookbook@elixir-europe.org"> Contact us </a></li>
          <li><a href="https://fairplus-project.eu" target="_blank"> FAIRplus </a> </li>
        </ul>
        </div>
        <div class="col-xl-3">
        <ul>
          <li> <a href="/the-fair-cookbook/_build/html/content/recipes/boilerplate/people.html"> Contributors </a> </li>
          <li> <a href="/the-fair-cookbook/_build/html/content/recipes/help.html"> How to contribute </a> </li>
        </ul>

        </div>
        <div class="col-xl-3">
          <a href="https://elixir-europe.org/" target="_blank"><img src="/the-fair-cookbook/_static/images/logo/Elixir/ELIXIR.png" height="50" alt="EFPIA logo" style="float:center""></a>
        </div>
      </div>
    </div>
    <div class="row_footer mb-3">
      The FAIR Cookbook is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International</a> (CC BY 4.0) license.
    </div>
  google_analytics_id       : "UA-171697285-1"  # A GA id that can be used to track book views.
  comments:
    hypothesis: true
    # utterances:
    #   repo: "FAIRplus/the-fair-cookbook"
#######################################################################################
# Launch button settings
launch_buttons:
  notebook_interface        : "jupyterlab" # The interface interactive links will activate ["classic", "jupyterlab"]
  binderhub_url             : "https://mybinder.org"  # The URL of the BinderHub (e.g., https://mybinder.org)
  jupyterhub_url            : ""  # The URL of the JupyterHub (e.g., https://datahub.berkeley.edu)
  thebelab                  : false  # Add a thebelab button to pages (requires the repository to run on Binder)
  colab_url                 : "https://colab.research.google.com"

repository:
  url                       : https://github.com/FAIRplus/the-fair-cookbook  # The URL to your book's repository
  path_to_book              : ""  # A path to your book's folder, relative to the repository root.
  branch                    : migrating  # Which branch of the repository should be used when creating links

#######################################################################################
# Advanced and power-user settings 
# sphinx:
#   config:
#     html_baseurl: 'https://path_to_book/'
#   extra_extensions:
#     - sphinx_sitemap 
sphinx:
   # - sphinx_tabs.tabs
  config                    :   # key-value pairs to directly over-ride the Sphinx configuration
    html_extra_path         : ["_inject_after_build"]
    html_baseurl            : 'https://fairplus.github.io/the-fair-cookbook'
  extra_extensions:   # A list of extra extensions to load by Sphinx.
    - sphinx_sitemap
  local_extensions:
    panels_fairplus: _ext/

parse:
  myst_url_schemes: [ mailto, http, https, ftp ]

bibtex_bibfiles:
   - ./_bibliography/fairbookreferences.bib
   - ./_bibliography/bibliography-bridgedb.bib
   - ./_bibliography/bibliography-identifier-mapping.bib
   - ./_bibliography/bibliography-identifier-mapping2.bib

bibtex_reference_style: author_year
