<!-- Source interaction buttons -->
{% if theme_repository_url and (theme_use_repository_button or theme_use_issues_button or theme_use_edit_page_button) %}
<div class="dropdown-buttons-trigger">

    <v-menu offset-y content-class="elevation-0" open-on-hover>
        <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="white"
              outlined
              v-bind="attrs"
              v-on="on"
              flat
              solo
              rounded
              id="dropdown-buttons-trigger"
            >
                <v-icon class="mr-3" left>fab fa-github</v-icon>
                GitHub
            </v-btn>
        </template>
        <div class="homepageMenu d-flex flex-column">
            {% if theme_use_repository_button %}
            <v-btn
              color="grey darken-1"
              dark
              flat
              solo
              rounded
              href="{{ theme_repository_url }}"
              class="mt-1"
              target="_blank"
            >
                <v-icon class="mr-3" left>fab fa-github</v-icon>
                {{ translate('repository') }}
            </v-btn>
            {% endif %}

            {% if theme_use_issues_button %}
            <v-btn
              color="grey darken-1"
              dark
              flat
              solo
              rounded
              href="{{ theme_repository_url }}/issues/new?title=Issue%20on%20page%20%2F{{ pagename }}.html&body=Your%20issue%20content%20here."
              class="mt-1"
              target="_blank"
            >
                <v-icon class="mr-3" left>fas fa-lightbulb</v-icon>
                {{ translate('open issue') }}
            </v-btn>
            {% endif %}

            {% if theme_use_edit_page_button %}
            <v-btn
              color="grey darken-1"
              dark
              flat
              solo
              rounded
              href="{{ get_edit_url() }}"
              class="mt-1"
              target="_blank"
            >
                <v-icon class="mx-3" left>fas fa-pencil-alt</v-icon>
                {{ translate('suggest edit') }}
            </v-btn>
            {% endif %}
        </div>
    </v-menu>
</div>
{% endif %}
