/* Put your custom CSS here */



.mermaidClass > rect{
        fill:#FF0000;
        stroke:#FFFF00;
        stroke-width:4px;
   }


i.fab.fa-github,.fas.fa-download,.fas.fa-expand,.fas.fa-arrow-left,.fas.far-arrow-up,.fas.fa-bars,.fas.fa-lightbulb,.fas.fa-pencil-alt,.fas.fa-list{
  color: #fc7a4a;
}
i.fas.fa-download{
  color: #fc7a4a;
}

button.btn.btn-secondary.topbarbtn{
  color: #fc7a4a;
}

button.btn.btn-secondary{
  color: #fc7a4a;
}

img.emoji {
    display: inline;
    height: 1em;
    width: 1em;
    margin-bottom: 0.25em;
}

img.imageez {
	border: 1px;
	border-color: black!important;
}

nav.c-textbook__sidebar {
	font-family: "Avenir", Avenir, serif;
	color:lightgray;
	font-weight: bold;
    opacity: 0.95;
    /*background-color: */
    /*background-image: linear-gradient(#a4682140, lightgray);*/
    background-image: linear-gradient(#f1f1f1, #f1f1f1);

    /*background-image: linear-gradient(#3f51b5,#3f51b5);*/
}

li.toc-list-item__active {
	color: #8038d1;
}

a.toc-linknode-name--H2 {
	color: #8038d1;
}

main.bd-content #main-content a, main.bd-content #main-content a:visited {
    color: #fc7a4a;
}

bd-toc nav a:hover, .bd-toc nav li.active > a.active {
    color: #fc7a4a;
}

a, a.reference.external,a:visited{
	color: #fc7a4a;
	font-family: "Avenir", Avenir, serif;
}
a.anchorjs-link {
		color: #fc7a4a;
	font-family: "Avenir", Avenir, serif;
}
a.anchor-link {
		color: #fc7a4a;
	font-family: "Avenir", Avenir, serif;
}

a.nav-link {
    color: #fc7a4a;
  font-family: "Avenir", Avenir, serif;
}

.prev-next-bottom a.right-next{
   color: #fc7a4a;
}

.prev-next-bottom a.left-prev{
  color: #fc7a4a;
}

.bd-sidebar nav ul.nav a:hover, .bd-sidebar nav ul.nav li.active > a, .bd-sidebar nav ul.nav li.active > a:hover {
    color: #fc7a4a;
    max-width: 350px;
}

hr {
  border-top: 1px solid #fc7a4a;
}


code {
  color: #8038d1;
}


section > p,
section > footer,
section > table {
    width: 120%;
    font-size: 14px;
}

/*-------DEFINING CSS CARD AND TABLE LAYOUT---------*/
/*--------------------------------------------------*/
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.card-container:hover .card{
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}
.card {
    -webkit-transition: -webkit-transform 2.7s;
            transition: transform 2.7s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.front, .back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.back {
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );

}


* {
  box-sizing: border-box;
}

body {
  font-family: Courier, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
/*---------------------------------------------------------*/
/*-------END OF DEFINING CSS CARD AND TABLE LAAOUT---------*/



.footer {
	height: 80px;
	width: 815px;
	text-align: center;
}


::-webkit-scrollbar{
	width:0;
	background: #fc7a4a;
}

::-webkit-scrollbar-thumb{
	width:0;
	background: #300861;
}



.c-sidebar__entry--active.c-sidebar__entry--active {
    color: #8038d1;
}

/*h1,h2,h3 {
	    font-family: "Avenir", Avenir, serif;
    font-size: 2.0em;

}*/

h1  {
	/*background-color:#f1f1f1;*/
 	display: inline;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 3.2rem;
    line-height: 1;
    font-family: "Avenir", Avenir, serif!important;

}

/**/

h2 {
	/*background-color:#f1f1f1;*/
    /*f#ont-style: italic;*/
    font-weight: 100;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
    font-family: "Avenir", Avenir, serif!important;;
}

h3 {
    /*font-style: italic;*/
    /*background-color:#f1f1f1;*/
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
    font-family: "Avenir", Avenir, serif!important;;
}

h4 {
    /*font-style: italic;*/
    /*background-color:#f1f1f1;*/
    font-weight: 400;
    font-size: 1.0rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
    font-family: "Avenir", Avenir, serif!important;;
}

.c-sidebar__title{
    font-family: "Avenir", Avenir, serif;
    color: #fc7a4a;
}


h2.c-sidebar__title{
	font-family: "Avenir", Avenir, serif;
    font-size: 2.0em;
}

li.c-sidebar__divider{
	border-top: 1px solid #fc7a4a;

}

ul.toc__menu a {
    display: block;
    padding: 0.25rem .75rem;
    color:  #8038d1;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.5;
}

nav.onthispage li.active a {
    color: #fc7a4a;
}
li.toc-list-item {
	color: #fc7a4a;
}
li.toc-list-item-active {
	color: #300861;
}

li.active {
    border-left: 1px solid #fc7a4a;
    margin-left: -1px;
}
/*li.active {
	color: #fc7a4a;
 } */
li.toc-list-itme-active {
	color: #300861;
}


ul.c-sidebar__chapters {
	font-size: 13px;
	font-family: "Avenir", Avenir, serif;
	color: #fc7a4a;
	font-weight: bold;
}

.c-page__nav{
	width:  120%;
	border-color: darkgrey;
}

.c-page__nav__prev{
	width:  120%;
	border-color: darkgrey;
}

.c-page__nav__next{
	width:  120%;
	border-color: darkgrey;
}


div.navbar-brand-box {
  font-family: "Avenir", Avenir, serif;
  width: 120%;
}

div {
/*	background-color: orange;*/
		font-family: "Avenir", Avenir, serif;
}

div.cell {
/*	background-color: orange;*/
		font-family: "Avenir", Avenir, serif;
}

div.c-textbook__content{
	/*background-color: orange;*/
		font-family: "Avenir", Avenir, serif;
}

div.c-topbar{
	/*background-color: orange;*/
		font-family: "Avenir", Avenir, serif;
}

div.text_cell_render{
	width: 90%;
}

/*<!-- controls centre page width -->*/
div.jb_cell{
	width: 130%;
}

aside.sidebar__right{
	background-color: white;
		font-family: "Avenir", Avenir, serif;
}

main.jupyter-page{
	/*background-color: orange;*/
	font-family: "Avenir", Avenir, serif;
	text-align: justify;

	width: 100%;
}

main.c-textbook__page{
/*	background-color: orange;*/
	font-family: "Avenir", Avenir, serif;
	color:black;
	font-size: 16px;
}

div.col-12.col-md-3.bd-sidebar.site-navigation.show {
  font-family: "Avenir", Avenir, serif;
  color:lightgray;
  font-weight: bold;
    opacity: 0.95;
    /*background-color: */
    /*background-image: linear-gradient(#a4682140, lightgray);*/
    background-image: linear-gradient(#f1f1f1, #f1f1f1);
}

div.col-12.col-md-9.pl-md-3.pr-md-0 {
  width: 130%;
}


main.overflow-auto {
    overflow: initial !important;
}

@media (min-width: 1405px) {
    div.container-xl {
        max-width: 100% !important;
    }
    div#site-navigation {
        max-width: 300px;
    }
    button#navbar-toggler {
        margin-left: 10px !important;
    }
    footer {
        width: 100% !important;
    }
}

div#site-navigation img.logo{
    width: 260px !important;
    margin: 0 !important;
}

div#site-navigation a.navbar-brand,
div#site-navigation .navbar-brand-box {
    width: auto;
}

html, html *:not(i) {
    font-family: 'Roboto', sans-serif !important;
}

li.active {
    border-left: 0 !important
}